<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Domicilios Yopal - Restaurantes</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163299955-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163299955-1');
  </script>

</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div id="app" v-cloak>
    <header class="section-header">
      <div class="container">
        <h3 class="logo no-margin">DomiciliosYopal.com</h3>
        <h1 class="">Restaurantes</h1>
        <p>Este es un listado de restaurantes funcionando durante la cuarentena obligatoria en <strong>Yopal.</strong></p>
        <ul v-if="showFilters" class="filters">
          <li v-for="filter in availableFilters" class="filters__item">
            <input type="checkbox" :id="filter" :value="filter" v-model="activeFilters">
            <label :for="filter">{{filter}}</label>
          </li>
        </ul>
      </div>
      <div class="bg-light"></div>
    </header>
    <div class="container">
      <ul v-if="loadingPlaces" class="list">
        <li v-for="index in 5" class="card card__loading">
          <div class="card__main-info">
            <div class="card__content">
              <span class="skeleton skeleton-header"></span>
              <span class="skeleton skeleton-subheader"></span>
              <span class="skeleton skeleton-phone"></span>
            </div>
            <div class="card__image"></div>
          </div>
          <div class="card__bottom">
          </div>
        </li>
      </ul>
      <ul v-else class="list">
        <li class="card"
            v-for="(restaurant, index) in restaurants"
            :key="restaurant.id"
            @click="showDetails($event, index, true)"
            :class="{'card--active': restaurant.is_active}"
            v-cloak>
          <div class="card__main-info">
            <div class="card__content">
              <h4 class="card__title">{{restaurant.fields.name}}</h4>
              <span class="card__category">{{restaurant.fields.category}}</span>
              <div class="card__contact">
                <div class="card__phone">
                  <img src="img/phone-icon.svg" class="phone-icon">
                  <a :href="`tel:${restaurant.fields.phone}`" @click.stop="trackGa('Restaurants', 'call',  'call - ' + restaurant.fields.name, 1)">{{restaurant.fields.phone | phone}}</a>
                </div>
              </div>
            </div>
            <div v-if="restaurant.imageUrl" class="card__image"
                 :style="{ backgroundImage : 'url(' + restaurant.imageUrl + ')' }">
            </div>
            <div v-else class="card__image card__image--placeholder"></div>
          </div>
          <div class="card__bottom">
            <div v-if="restaurant.open" class="card__availability card__availability--open">
              <i></i><strong>Abierto</strong>
              <span class="av-schedule">{{restaurant.fields.open_hours}}</span>
            </div>
            <div v-else class="card__availability card__availability--closed"><i></i><strong>Cerrado</strong></div>
          </div>
          <div class="card__expanded" v-if="restaurant.is_active">
            <ul class="menu-gallery" v-if="restaurant.fields.menu" :class="{'menu-gallery--single-element': restaurant.fields.menu.length < 2 }">
              <li v-for="image in restaurant.fields.menu" class="menu-gallery__page">
                <img v-if="image.thumbnails && image.thumbnails.large" :src="image.thumbnails.large.url" alt="">
                <img v-else :src="image.url" alt="">
              </li>
            </ul>
            <div v-else class="menu-empty-state">
              <img src="img/menu-empty-state.svg" alt="">
              <p>No tenemos el menú de este restaurante</p>
              <a href="https://airtable.com/shrRJTAEPNrWRgh3a" target="_blank" @click.stop="trackGa('Restaurants', 'add',  'menu')">Agrégalo aquí</a>
            </div>
            <ul class="card-actions">
              <li>
                <a class="btn btn-primary" :href="`tel:${restaurant.fields.phone}`" @click.stop="trackGa('Restaurants', 'call',  'call card exp - ' + restaurant.fields.name, 1)">
                  <img src="img/phone-icon-white.svg">
                </a>
              </li>
              <li>
                <a class="btn btn-secondary" @click.stop="showDetails($event, index, false)">
                  <img src="img/close-icon.svg">
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div v-if="loadingError" class="card card--error">
        <img src="img/error-icon.svg" alt="">
        <h4 class="card__title">Hay un problema!</h4>
        <p>Recarga la página para ver si ya lo hemos solucionado.</p>
      </div>
      <div class="add-places">
        <img src="img/location-icon.svg" class="location-icon">
        <p class="no-margin">Conoces otro restaurante que esté abierto durante la cuarentena? <a href="https://airtable.com/shrZj5a0qd2UhXy5x" target="_blank" @click="trackGa('Restaurants', 'add', 'new')">Inscríbelo acá</a></p>
      </div>
      <div class="overlay" v-if="showOverlay"></div>
    </div>
  </div>
  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
  <!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script> -->
<!--   <script src="js/plugins.js"></script> -->
  <script src="js/main.js"></script>
</body>

</html>
